/*
[ Summary ]
---------------------
1. Basic
2. Cores
3. Size, Height, Width
4. Sidebar
5. Header
6. Footer
7. Form
8. Button
9. Input Group
10. Text
11. Notifications
12. Cards
13. Green Theme
14. Dark Theme
15. Scrollbar
16. Breadcrumb
*/

/* Basic */

:root {
    /*    #122657*/
    /*#312f5a;*/
    --colortheme: #122657;
    --colorthemedark: #243447;
    --background-color: #f6f6f6;
}

.media-query {
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 99999;
    opacity: 0.5;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.wrapper {
    height: auto;
    width: 100%;
    position: relative;
    transition: all ease 0.5s;
    margin-left: 0;
    /*z-index: 1;*/
    min-height: 100vh;
    padding-bottom: 80px;
}

/* Cores */
.green-theme .color-theme {
    color: var(--colortheme);
}

.green-theme .color-theme-dark {
    color: var(--colorthemedark);
}

.theme-dark .color-theme{
    color: #ffffff;
}

.theme-dark .color-theme-dark {
    color: #ffffff;
}

.bg-theme {
    background-color: var(--colortheme);
}

.bg-dark {
    background-color: var(--colorthemedark);
}

.bg-none {
    background-color: transparent
}

.bg-primary,
.badge-primary {
    background-color: #0D76FF !important
}

.text-primary {
    color: #0D76FF !important
}

.text-secondary {
    color: #666666 !important;
}

.text-default {
    color: #FF0068 !important
}

.text-info {
    color: #5ED0FB !important
}

.text-danger {
    color: #F16060 !important
}

.bg-primary-light {
    background-color: #CEE3FF !important
}

.bg-success,
.badge-success {
    background-color: #00BE7D !important
}

.text-success {
    color: #00BE7D !important
}

.bg-succss-light {
    background-color: #C0E9DB !important
}

.bg-warning,
.badge-warning {
    background-color: #FFC400 !important
}

.text-warning {
    color: #FFC400 !important
}

.bg-warning-light {
    background-color: #FFF0C1 !important
}

.bg-orange,
.badge-orange {
    background-color: #FF6F00 !important
}

h5 .badge {
    font-size: 50%
}

.bg-orange-light {
    background-color: #FFE5D1 !important
}

.bg-grey,
.badge-grey {
    background-color: #999999 !important
}

.bg-grey-light {
    background-color: #BBBBBB !important
}

.text-white a {
    color: #ffffff !important
}

.row.proh {
    position: relative;
    overflow-x: hidden;
}

.text-mute {
    opacity: 0.7;
}

p.small {
    line-height: 1.45em;
}

p:last-child {
    margin-bottom: 0;
}

sup {
    top: -.2em;
}

.background {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    opacity: 0.4;
    z-index: 0;
}

.background + div {
    position: relative;
    z-index: 1
}

/*Size, Height, Width*/

.size-40 {
    width: 50%;
}

/* Sidebar  */
body.menuactive {
    overflow: hidden;
    transform: scale(1);
    opacity: 1;
}

html.menuactive {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body.menuactive .wrapper {
    overflow: hidden;
    height: 100vh;
}

body.sidemenu-open .wrapper {
    transform: scale(0.9);
    opacity: 0.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

body.sidemenu-open .wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    user-select: none;
    z-index: 10;
    cursor: pointer
}

.sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: -100%;
    padding: 0 15%;
    top: 0;
    transition: all ease 0.5s;
    overflow-y: auto;
}

.sidebar .main-menu .list-group-item {
    background-color: transparent;
    font-size: 16px;
    border: 0;
    border-radius: 30px;
    padding: 3px;
    margin-bottom: 15px
}

.sidebar .main-menu .list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar .main-menu .list-group-item.active {
    background-color: rgba(255, 255, 255, 0.15);
}

body.sidemenu-open .sidebar {
    left: 0;
}

.sidebar .figure-menu {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    padding: 2px;
    display: block;
    margin: 45px auto 20px auto;
    background-color: #ffffff;
}

.sidebar .figure-menu figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar .figure-menu figure img {
     width: 100%;
}

.icons-raised {
    position: relative;
    border-radius: 30px;
    height: 44px;
    width: 44px;
    display: inline-block;
    vertical-align: middle;
    line-height: 44px;
    text-align: center;
    margin-right: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
    background-color: rgba(255, 255, 255, 0.1)
}

.icons-raised .new-notification {
    top: 10px;
}

.closesidemenu {
    position: fixed;
    bottom: -100px;
    opacity: 0;
    transition: all ease 1s;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    z-index: 9
}

body.sidemenu-open .closesidemenu {
    bottom: 20px;
    opacity: 1;
}

/* Header */

.header {
    width: 100%;
    height: auto;
    position: fixed;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 9;
    transition: all ease 0.5s;
    background-color: var(--colortheme);
}

.header-logo {
    height: auto;
    max-height: 51px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px auto 0px auto;
}

.header a,
.header button{
    text-align: center;
    vertical-align: middle;
    color: #ffffff !important;
}

.header + div {
    padding-top: 90px;
}

/* Footer */

.footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    background-color: var(--colortheme);
    color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    .footer {
        margin-bottom:45px;
        margin-top: 20px;
    }
}

.footer-mobile {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    transition: all ease 0.5s;
    background-color: var(--colortheme);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

.footer-mobile a{
    color: #ffffff !important;
}

/* Form */

.form-control {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

select.form-control option,
select.form-control optgroup {
    color: #000000
}

.form-control:focus {
    box-shadow: none;
}

.float-label {
    padding-top: 20px;
    position: relative;
}

.form-group .form-control-label {
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}

.float-label .form-control-label {
    position: absolute;
    left: 15px;
    top: 28px;
    margin: 0;
    line-height: 20px;
    color: #BBBBBB;
    font-size: 15px;
    transition: ease all 0.5s;
    z-index: 1;
}

.float-label .form-control,
.float-label .chosen-container .chosen-choices,
.float-label .chosen-container .chosen-single {
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    background-image: none;
}

.form-control-lg {
    font-size: 18px;
}

.float-label .form-control-lg + .form-control-label {
    top: 32px;
}

.float-label .form-control-lg:focus + .form-control-label,
.float-label.active .form-control-lg + .form-control-label,
.float-label .form-control:focus + .form-control-label,
.float-label.active label {
    top: 0;
    font-size: 13px;
    line-height: 20px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.search {
    border-radius: 30px;
    background: url('../img/search.png') no-repeat center right #fff;
}

/* Button */

.btn {
    font-size: 16px;
    font-weight: normal;
    border-width: 0;
}

[class*="outline"] {
    border-width: 1px;
}

body a.btn-primary,
body a.btn-warning,
body a.btn-danger,
body a.btn-success {
    color: #ffffff;
}

.btn-lg {
    padding: .815rem 1.5rem;
}

.btn-sm {
    font-size: 14px;
}

.btn i,
.btn span,
a em {
    vertical-align: middle
}

.btn img {
    max-width: 20px;
    vertical-align: middle;
}

.btn:focus {
    box-shadow: none;
}

.btn i:first-child {
    margin-right: 5px;
    margin-left: -4px;
}

.btn i:last-child {
    margin-left: 5px;
    margin-right: -4px;
}

.btn i:last-child:first-child {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-rounded-54 {
    height: 54px;
    width: 54px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border-radius: 28px;
}

.btn-rounded-36 {
    height: 36px;
    width: 36px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border-radius: 28px;
}

.btn-rounded-40 {
    height: 40px;
    width: 40px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border-radius: 28px;
}

.btn-rounded-26 {
    height: 26px;
    width: 26px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border-radius: 13px;
}

.float-bottom-right {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
}

.float-bottom-right.stylepicker {
    position: fixed;
    right: 15px;
    bottom: 20px;
    z-index: 1002
    }

.btn-rounded-solicitar {
    border-radius: 30px;
    color: white;
    background: var(--colortheme);
    border: solid 2px;
    border-color: var(--colorthemedark);
}

.btn-rounded-solicitar:hover {
    border-radius: 30px;
    color: white;
    background: var(--colorthemedark);
    border: solid 2px;
    border-color: var(--colorthemedark);
}

.btn-rounded {
    border-radius: 30px;
}

.btn-rounded-10 {
    border-radius: 10px;
}

.btn-rounded-15 {
    border-radius: 15px;
}

.btn-default,
body .btn.btn-secondary {
    color: #ffffff
}

.btn-warning {
    background-color: #FFC400;
    color: #ffffff;
}

.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover {
    background-color: #f0b000;
    color: #ffffff !important;
}

.btn.btn-link-default {
    color: #bbbbbb;
}

.shadow-sm {
    box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
    -webkit-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
    -moz-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
}

.btn.shadow-sm {
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
    -webkit-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
    -moz-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
}

.btn.shadow-xs {
    box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
    -webkit-box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
}

.btn-light,
body a.btn-light {
    background-color: #ffffff;
    color: #999999;
}

.btn-light-grey,
body a.btn-light-grey {
    background-color: #E3EAF1;
    color: #BBBBBB;
    border-color: #F3F6F8
}

.btn-group > .btn:first-child,
.btn-group > .btn:first-of-type,
.btn-group > .btn-group:first-child > .btn {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn-group > .btn:last-child,
.btn-group > .btn:last-of-type,
.btn-group > .btn-group:last-child > .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn h6,
.btn h5,
.btn h4,
.btn h3,
.btn h2,
.btn h1 {
    vertical-align: middle
}

.green-theme .btn-buscar {
    color: var(--colortheme);
    font-size: 32px;
    background: none;
    border: 0px;
    cursor: pointer
}

.theme-dark .btn-buscar {
    color: #ffffff;
    font-size: 32px;
    background: none;
    border: 0px;
    cursor: pointer
}

.shadow {
    box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
    -webkit-box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
}

/* Input Group */
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    margin: 2px;
    border-radius: 30px;
}

.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
    margin: 2px;
    border-radius: 30px;
}

.input-group {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0;
    border-radius: 5px;
}

.form-control :active :focus {
    border: 1px solid #5ED0FB;
    border-radius: 5px;
}


.input-group > .form-control {
    border: 0;
}

.input-group > .form-control:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.input-group > .input-group-prepend > .input-group-text + .input-group-text {
    border-radius: 0;
}

.input-group.input-group-sm > .form-control {
    height: calc(1.6em + .5rem + 2px);
    border-color: #E3EAF1;
}

.border-top-dashed {
    border-top: 2px dashed #e3ead7 !important;
}

.border-left-dotted {
    border-left: 1px dashed rgba(0, 0, 0, 0.1) !important;
}

.border-top,
.border-left,
.border-bottom,
.border-right {
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.progress {
    background-color: rgba(0, 0, 0, 0.05)
}

/* Text */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

a{
    text-decoration:none;
}

.fs-60 {
    font-size: 60px;
    line-height: 1.0;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 20px;
    text-transform: uppercase
}

/* Notifications  */
.new-notification {
    height: 10px;
    width: 10px;
    border-radius: 6px;
    background-color: #FF0068;
    display: block;
    position: absolute;
    top: 23px;
    right: 5px;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.counts {
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background-color: #FF0068;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
}

/* Card */
.card .card-header .nav-tabs {
    margin-bottom: -1px;
    text-align: center
}

.card-img:first-child {
    border-radius: 10px 10px 0 0;
}

.card .card-header .nav-tabs .nav-link {
    padding: 15px;
}

.card .card-header .nav-tabs .nav-link.active {
    box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
    -webkit-box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
}

.card .card-header {
    border: 0;
    border-radius: 11px;
}

.card .card-footer {
    border: 0;
    border-radius: 0 0 12px 12px;
}

.card .card-header .card-title {
    margin-bottom: 0;
}

.card .tab-content .tab-pane {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.card {
    border-radius: 10px;
    border: 1px;
}

.card .card-body {
    padding: 15px 15px;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

.green-theme .card-categoria {
    background-color: #ffffff;
    padding: 15px 15px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theme-dark .card-categoria {
    background-color: #333333;
    padding: 15px 15px;
    text-align: center;
    height: 200px;
}

.green-theme .card-categoria em {
    font-size: 50px;
    color: var(--colortheme);
}

.theme-dark .card-categoria em {
    font-size: 50px;
    color: #ffffff
}

.green-theme .card-categoria h5 {
    margin-top: 30px;
    color: #333333;
}

.theme-dark .card-categoria h5 {
    margin-top: 30px;
    color: #ffffff;
}

/* Green Theme*/
.green-theme .bg-background,
.green-theme .header.active {
    background-color: rgba(255, 255, 255, 0.8)
}

.green-theme .wrapper {
    background-color: var(--background-color);
}

.green-theme body.sidemenu-open,
.green-theme .loader-screen,
.green-theme .bg-template,
.green-theme-bg,
.green-theme body {
    background: var(--colortheme)
}

.green-theme .btn-default,
.green-theme .custom-control-input:checked ~ .custom-control-label::before,
.green-theme .small-slide .swiper-slide .card:hover,
.green-theme .small-slide .swiper-slide .card:focus,
.green-theme .filter,
.green-theme .chosen-container .chosen-results li.highlighted,
.green-theme .page-item.active .page-link,
.green-theme .nav-pills .nav-link.active,
.green-theme .nav-pills .show > .nav-link,
.green-theme .footer .btn i:after {
    background-color: var(--colortheme);
}

.green-theme .bg-template,
.green-theme .icons-raised,
.green-theme .filter,
.green-theme .filter .form-control,
.green-theme .filter .form-group label,
.green-theme .float-label .chosen-container-multi .chosen-choices,
.green-theme .float-label .chosen-container-multi .chosen-choices li.search-field input[type=text],
.green-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.green-theme .btn-default,
.green-theme .sidebar,
.green-theme .sidebar .main-menu .list-group-item,
.green-theme .small-slide .swiper-slide .card:hover *,
.green-theme .small-slide .swiper-slide .card:focus *,
.green-theme .sidebar .list-group-item.active:hover * {
    color: #ffff !important;
}

.green-theme .filter .form-group label {
    opacity: 0.85;
}

.green-theme .btn-default:hover,
.green-theme .btn-default:focus {
    color: #ffffff;
    background-color: var(--colorthemedark);
}

.green-theme .figure-profile,
.green-theme .form-control:focus,
.green-theme .custom-control-input:focus ~ .custom-control-label::before,
.green-theme .custom-control-input:checked ~ .custom-control-label::before,
.green-theme .float-label .form-control:focus,
.green-theme .page-item.active .page-link,
.green-theme .btn-outline-default {
    border-color: #00c177
}

.green-theme .filter .form-control:focus,
.green-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.green-theme .filter .custom-control-input:checked ~ .custom-control-label::before,
.green-theme .filter .float-label .form-control:focus {
    border-color: #ffffff
}

.green-theme .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.green-theme .btn-light:hover,
.green-theme .btn-light:focus,
.green-theme .btn-light:not(:disabled):not(.disabled).active,
.green-theme .bg-template-light {
    background-color: #c9f4e3
}

.green-theme .text-template,
.green-theme .btn-link,
.green-theme a,
.green-theme .float-label .form-control:focus + .form-control-label,
.green-theme .btn-light:hover,
.green-theme .btn-light:focus,
.green-theme .btn-light:not(:disabled):not(.disabled).active,
.green-theme .btn.btn-link-default:hover,
.green-theme .btn.btn-link-default:focus,
.green-theme .btn.btn-link-default.active {
    color: var(--colorthemedark);
}

.green-theme .bg-warning,
.green-theme .badge-warning {
    background-color: #FFBB00 !important;
}

.green-theme .bg-success,
.green-theme .badge-success {
    background-color: #00BB32 !important;
}

.green-theme .bg-danger,
.green-theme .badge-danger {
    background-color: #F16060 !important;
}

.green-theme .bg-orange,
.green-theme .badge-orange {
    background-color: #ff9133 !important;
}

.green-theme .bg-primary,
.green-theme .badge-primary {
    background-color: #1E88FF !important;
}

.green-theme .bg-info,
.green-theme .badge-info {
    background-color: #5ED0FB !important;
}

.gradient-warning {
    background: #ffe785;
    background: -moz-linear-gradient(top, #ffe785 0%, #ffbb00 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffe785), color-stop(100%, #ffbb00));
    background: -webkit-linear-gradient(top, #ffe785 0%, #ffbb00 100%);
    background: -o-linear-gradient(top, #ffe785 0%, #ffbb00 100%);
    background: linear-gradient(to bottom, #ffe785 0%, #ffbb00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe785', endColorstr='#ffbb00', GradientType=0);
}

.gradient-success {
    background: #50eb67;
    background: -moz-linear-gradient(top, #50eb67 0%, #00bb32 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #50eb67), color-stop(100%, #00bb32));
    background: -webkit-linear-gradient(top, #50eb67 0%, #00bb32 100%);
    background: -o-linear-gradient(top, #50eb67 0%, #00bb32 100%);
    background: linear-gradient(to bottom, #50eb67 0%, #00bb32 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50eb67', endColorstr='#00bb32', GradientType=0);
}

.gradient-danger {
    background: #ffb5b5;
    background: -moz-linear-gradient(top, #ffb5b5 0%, #f16060 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffb5b5), color-stop(100%, #f16060));
    background: -webkit-linear-gradient(top, #ffb5b5 0%, #f16060 100%);
    background: -o-linear-gradient(top, #ffb5b5 0%, #f16060 100%);
    background: linear-gradient(to bottom, #ffb5b5 0%, #f16060 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb5b5', endColorstr='#f16060', GradientType=0);
}

.gradient-primary {
    background: #99caff;
    background: -moz-linear-gradient(top, #99caff 0%, #1e88ff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #99caff), color-stop(100%, #1e88ff));
    background: -webkit-linear-gradient(top, #99caff 0%, #1e88ff 100%);
    background: -o-linear-gradient(top, #99caff 0%, #1e88ff 100%);
    background: linear-gradient(to bottom, #99caff 0%, #1e88ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99caff', endColorstr='#1e88ff', GradientType=0);
}

.gradient-info {
    background: #c7f0ff;
    background: -moz-linear-gradient(top, #c7f0ff 0%, #5ed0fb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c7f0ff), color-stop(100%, #5ed0fb));
    background: -webkit-linear-gradient(top, #c7f0ff 0%, #5ed0fb 100%);
    background: -o-linear-gradient(top, #c7f0ff 0%, #5ed0fb 100%);
    background: linear-gradient(to bottom, #c7f0ff 0%, #5ed0fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7f0ff', endColorstr='#5ed0fb', GradientType=0);
}

/* Dark Theme */

.theme-dark .wrapper {
    background: #222222;
    background: -moz-linear-gradient(top, #222222 0%, #000000 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #222222), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #222222 0%, #000000 100%);
    background: -o-linear-gradient(top, #222222 0%, #000000 100%);
    background: linear-gradient(to bottom, #222222 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000', GradientType=0);
    color: #ffffff
}

.theme-dark .list-group-item,
.theme-dark .modal-content,
.theme-dark .avatar:not(.bg-template),
.theme-dark .card:not(.bg-template) {
    background: #333333;
    color: #ffffff
}

.theme-dark .modal-content .form-control,
.theme-dark .text-dark,
.theme-dark .icon-slide .swiper-slide p,
.theme-dark .icon-slide .swiper-slide:hover p,
.theme-dark .icon-slide .swiper-slide:focus p,
.theme-dark .text-secondary {
    color: #ffffff !important;
}

.theme-dark .swiper-pagination-bullet {
    background: #ffffff;
}

.theme-dark .notification .text-secondary {
    color: #666666 !important;
}

.theme-dark .form-control,
.theme-dark .input-group,
.theme-dark .progress {
    background-color: rgba(255, 255, 255, 0.09);
    color: #ffffff;
}

.theme-dark .modal-footer,
.theme-dark .border-top,
.theme-dark .border-left,
.theme-dark .border-bottom,
.theme-dark .border-right {
    border-color: rgba(255, 255, 255, 0.09) !important;
}

.theme-dark .input-group .form-control {
    background-color: transparent
}

.theme-dark .btn-white {
    background-color: #000000 !important;
    color: #ffffff;
}

.theme-dark *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.theme-dark *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
}

.theme-dark *::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(0, 0, 0, 1);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(230, 230, 230, 0.4);
}

.border-bottom-theme {
    border-bottom: solid var(--colortheme);
}
.border-left-theme {
    border-left: solid var(--colortheme);
}
