

@media (max-width: 1000px) {
    .post-container {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 2fr;
        margin-bottom: 120vh;
    }

        .post-container form {
            max-width: 500px;
            margin: 0 auto;
        }
}

@media (max-width: 900px) {
    .post-container {
        margin-bottom: 100vh;
    }

    .profile-container .profile-pics .profile-pic {
        max-height: 270px;
    }

    .profile-container .profile-pics {
        grid-gap: 1em;
    }
}

@media (max-width: 750px) {
    .post-container {
        margin-bottom: 80vh;
    }
}


@media (max-width: 600px) {
    .post-container {
        margin-bottom: 60vh;
    }

        .post-container form {
            min-height: 260px;
        }

    main {
        margin-bottom: 15em;
    }

        main .form-login-register {
            grid-template-columns: 1fr;
        }

            main .form-login-register img {
                justify-self: center;
            }

            main .form-login-register form {
                justify-self: center;
                padding-top: 1em;
            }

    .profile-container .profile-header {
        grid-template-columns: 1fr;
        min-height: 46vh;
    }

        .profile-container .profile-header img {
            height: 110px;
            width: 110px;
            border-radius: 0.5*75px;
        }

        .profile-container .profile-header .profile-user-info h1 {
            font-size: 1.5em;
            align-self: center;
        }

    .profile-container .profile-pics .profile-pic {
        max-height: 210px;
    }

    .profile-container .profile-pics {
        grid-gap: .5em;
    }
}

@media (max-width: 500px) {
    .post-container {
        margin-bottom: 40vh;
    }
}

@media (max-width: 400px) {
    main {
        margin-bottom: 20em;
    }

    .post-container {
        margin-bottom: 30vh;
    }
}
