<div class="row">
    <div class="list-group main-menu">
        <a asp-action="Cadastro" asp-controller="Home" class="list-group-item list-group-item-action"><em class="mdi mdi-account icons-raised"></em>Cadastre-se</a>
    </div>
</div>
<div class="row">
    <div class="list-group main-menu">
        <a asp-action="Index" asp-controller="MinhasInformacoes" class="list-group-item list-group-item-action"><em class="mdi mdi-account icons-raised"></em>Entrar</a>
    </div>
</div>