<environment names="Development">
    <div class="media-query">
        <button class="btn btn-danger d-sm-none">XS</button>
        <button class="btn btn-warning d-none d-sm-block d-md-none">SM</button>
        <button class="btn btn-success d-none d-md-block d-lg-none">MD</button>
        <button class="btn btn-info d-none d-lg-block d-xl-none">LG</button>
        <button class="btn btn-primary d-none d-xl-block d-xxl-none">XL</button>
        <button class="btn btn-primary d-none d-xxl-block">XXL</button>
    </div>
</environment>