@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="footer-mobile d-md-none">
    <div class="no-gutters">
        <div class="col-auto mx-auto">
            <div class="row no-gutters justify-content-center">
                <div class="col-auto">
                    <a href="#" class="btn btn-link-default menu-btn">
                        <em class="mdi mdi-reorder-horizontal h3" aria-label="Menu"></em>
                    </a>
                </div>
                <div class="col-auto">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-link-default">
                        <em class="mdi mdi-home h3" aria-label="Início"></em>
                    </a>
                </div>
                @if (User.HasClaim(c => c.Type == "trabalhador"))
                {
                    <div class="col-auto">
                        <a class="btn btn-link-default" asp-controller="Trabalhadores" asp-action="ObterTrabalhador" asp-route-userId="@UserManager.GetUserId(User)">
                            <em class="mdi mdi-account h3" aria-label="Ícone Detalhes"></em>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-link-default" asp-action="MinhaSolicitacoesDeTrabalhador" asp-controller="Solicitacao" asp-route-userId="@UserManager.GetUserId(User)">
                            <em class="mdi mdi-text-box-plus h3"></em> 
                        </a>
                    </div>
                }
                else if (User.HasClaim(c => c.Type == "cliente"))
                {
                    <div class="col-auto">
                        <a class="btn btn-link-default" asp-controller="Cliente" asp-action="ObterCliente" asp-route-userId="@UserManager.GetUserId(User)">
                            <em class="mdi mdi-account h3" aria-label="Ícone Detalhes"></em>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-link-default" asp-controller="Trabalhadores" asp-action="Index">
                            <em class="mdi mdi-account-tie h3" aria-label="Ícone Detalhes"></em>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-link-default" asp-action="MinhaSolicitacoes" asp-controller="Solicitacao" asp-route-userId="@UserManager.GetUserId(User)">
                            <em class="mdi mdi-text-box-plus h3" aria-label="Ícone Detalhes"></em>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-auto">
                        <a class="btn btn-link-default" asp-controller="Trabalhadores" asp-action="Index">
                            <em class="mdi mdi-account-tie h3" aria-label="Ícone Detalhes"></em>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>