
    <div>
        <h1>Hello</h1>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Sobre", "Home")" style="" class="btn btn-primary" title="Ver Clima">
            Sobre
        </a>
    </div>
    <br />
    <a href="@Url.Action("OnterClima", "Home")" style="" class="btn btn-primary" title="Ver Clima">
        Onter Clima
    </a>
